body,
body *{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;

}

body{
background-color: aqua;
}

.container{
display: inline-block;
width: 800px;
background-color: yellow;
margin-top: 100px;
margin-left: calc(50% - 400px);
}

.left-column{
width: 40%;
height: 400px;
padding: 40px;
float: left;
background-color: #5c37a8;
background-image: url(../img/Sign_up_edited.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center ;
}

.main-title{
display: inline-block;
width: 100%;
color: #fff;
}

.bottom-links{
display: inline-block;
width: 100%;
color: #fff;
}

.link{
color: #fff;
}

.symbol{

}

.right-column {
width: 60%;
padding: 60px;
float:left;
background-color: blueviolet;
}

.close
}

.form{
    display: inline-block;
    width: 100%;
}

.form-row + .form-row{
    margin-top: 40px;
}

label{
    display: inline-block;
    width: 100%;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
}


